// 2. Badges
// ==========================================================================

$badge-height: 22px !default;

// 23. Collections
// ==========================================================================

$collection-line-height: 1.5rem !default;

// 14. Side Navigation
// ==========================================================================

$sidenav-font-size: 14px !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;