@import '../../../node_modules/materialize-css/sass/materialize';
@import './variables';
@import './theme';
@import './syntax';

.btn-flat:hover {
  background: rgba(0, 0, 0, 0.2);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  @extend .primary-text;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "Noto Sans CJK SC";
  font-size: 14px;
  font-weight: 500;
  background-color: #f0f0f0;
}

// code-blocks
pre {
  padding: 1em;
}

div.tags {
  margin-bottom: 24px;
  span {
    @extend span.badge;
    @extend .primary;
    font-weight: 300;
    font-size: .8rem;
    color: #fff;
    border-radius: 2px;
    float: unset;
    padding: 0.5em;
    margin-left: 0em;
    margin-right: 1em;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

strong {
  font-weight: bolder;
  padding: 0.2em;
}

.flexSpacer {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.fluid {
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

.parallax {
  background: transparent;
  overflow: hidden;
}

div.content {
  max-width: 900px;
  margin: 0px auto;
}

blockquote {
  @extend .primary-border-left;
}

/* Header */
nav.navTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0 1em;
  @extend .primary;
  
  .btn-flat {
    color: hsla(0,0%,100%,.87);
  }
  a {
    text-align: center;
    text-transform: unset;
    &.brand-logo {
      display: flex;
      > span {
        font-size: 0.9em;
        margin-left: 0.3em;
      }
    }
    &.sidenav-trigger {
      // nav mobile
      margin: 0;
    }
  }
  a
  i {
    float: unset;
    margin: 0px;
    font-size: 32px;
  }

  .icon-github {
    line-height: 0.4em;
  }

  a.holder {
    display: flex;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    .btn-flat {
      padding: 0.8em 0em;
    }
    i.lang {
      line-height: 0.4em;
      font-size: 2.5em;
      margin-right: 0.4em;
    }
  }

}

#navMobile {
  img.cover {
    width: 100%;
  }
  img.avatar {
    width: 64px;
  }
}

/* Footer */
footer.app {
  padding: 0;
  a {
    color: white;
  }
  div.container {
    position: relative;
    p {
      margin: 0px auto;
      text-align: center;
    }
  }
  div.social {
    text-align: center;
    i {
      font-size: 24px;
      margin: 0.5em;
      padding: 0.4rem;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    i:hover {
      border-radius: 10%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

}

@media only screen and (min-width: 992px) {
  /* Header */
  nav.navTop {
    padding: 0px 3em;
    a {
      &.brand-logo {
        position: static;
      }
      &.sidenav-trigger {
        margin: 0 18px;
      }
    }
    .icon-github {
      display: block;
      margin-right: 0.5em;
      line-height: 1em;
    }
    footer {
      .btn-flat {
        padding: 0px 2rem;
      }
      i.lang {
        line-height: 1em;
        margin-right: 0.5em;
      }
    }
  }

  /* Footer */
  footer.app {
    div.container {
      p {
        text-align: left;
      }
    }
    div.social {
      position: absolute;
      right: 1em;
      top: -0.5em;
    }
  }

}