@import './variables';
@import './theme';

@import '~materialize-css/sass/components/badges';

.btn-flat:hover {
  background: rgba(0, 0, 0, 0.2);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  @extend .primary-text;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, noto-sans-cjk, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #f0f0f0;
}

// code-blocks
pre {
  padding: 1em;
}

div.tags {
  margin-bottom: 24px;
  span {
    @extend span.badge;
    @extend .primary;
    font-weight: 300;
    font-size: .8rem;
    color: #fff;
    border-radius: 2px;
    float: unset;
    padding: 0.5em;
    margin-left: 0em;
    margin-right: 1em;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

.flexSpacer {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.fluid {
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

.parallax {
  background: transparent;
  overflow: hidden;
}

div.content {
  max-width: 1200px;
  margin: 0px auto;
}

/* Header */
nav.navTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 3em;
  position: fixed;
  z-index: 10;
  @extend .primary;
  
  .btn-flat {
    color: hsla(0,0%,100%,.87);
  }
  a {
    text-align: center;
  }
  i {
    float: unset;
    margin: 0px;
    font-size: 32px;
  }
  // padding: 8px 16px;
  a.holder {
    display: flex;
  }
  .icon-github {
    display: block;
    margin-right: 0.5em;
  }

}

#navMobile {
  img.cover {
    width: 100%;
  }
  img.avatar {
    width: 64px;
  }
}

/* Footer */
footer.app {
  padding: 0;
  a {
    color: white;
  }
  div.container {
    position: relative;
    p {
      margin: 0px auto;
      text-align: center;
    }
  }
  div.social {
    text-align: center;
    i {
      font-size: 24px;
      margin: 0.5em;
    }
  }

}

@media only screen and (min-width: 992px) {
  /* Header */
  nav.navTop {
    a.brand-logo {
      position: static;
    }
  }

  /* Footer */
  footer.app {
    div.container {
      p {
        text-align: left;
      }
    }
    div.social {
      position: absolute;
      right: 1em;
      top: -0.5em;
    }
  }

}