<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}
<body class="mat-green-yellow">

  {{ partial "header.html" . }}
  <section class="cover single">
    <div class="parallax" data-parallax data-src="{{ "images/defaultPost.png" | absURL }}"></div>

    <!-- <div>
      <h1>  </h1>
    </div> -->
  </section>

  <main class="single">
    <div class="mainHolder">
      <div class="content">
        <article class="card">
          <div class="card-content">
            <span class="card-title">{{ .Title }}</span>
            {{ .Content }}
          </div>
        </article>
      </div>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </main>
  {{ partial "body-script.html" . }}
</body>
</html>  