<!DOCTYPE html>
{{ $featured_image := .Params.featured_image | default $.Site.Params.img0 }}
{{ $user := $.Site.Params.user }}

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
<head>
  {{ partial "head-common.html" . }}
  <link rel="stylesheet" href="{{ "css/single.css" | absURL }}">
</head>

<body class="mat-green-yellow">

  <!-- header -->
  {{ partial "header.html" . }}
  <section class="cover">
    <div class="parallax" data-parallax data-src="{{ $featured_image | absURL }}"></div>
  </section>

  <main class="single">
    <div class="mainHolder">
      <div class="content">
        <article class="card post">
          <div class="card-content">
            <span class="card-title">{{ .Title }}</span>
            <div class="authorHolder">
              <div class="avatarBox">
                <div class="avatar">
                <!-- avatar -->
                {{ with $user.avatar }}

                  <img src="{{ $user.avatar | absURL }}" alt="{{ $user.name | default ("Mr. Nobody") }}'s avatar" class="fluid round">

                {{ else }}
                <div class="avatarPlaceholder round"></div>
                {{ end }}
                </div>
                <div class="info">
                  <p>{{ with $user.name }}{{ $user.name }}{{ else }}Mr. Nobody{{ end }}</p>
                  <small>Posted on: <time class="date">{{ .PublishDate }}</time> ago</small> <br>
                  <small>Modified on: <time class="date">{{ .Lastmod }}</time> ago</small>
                </div>
              </div>
              <div class="flexSpacer"></div>
              <div class="action">
                <!-- <a href="##"><i class="material-icons"></i></a> -->

                <div class="fixed-action-btn share">
                  <a class="btn-floating btn-large primary">
                    <i class="large material-icons">share</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating red"><i class="iconfont icon-weibo"></i></a></li>
                    <li><a class="btn-floating cyan"><i class="iconfont icon-twitter"></i></a></li>
                  </ul>
                </div>


              </div>
            </div>
            <div class="postContent">
              {{ .Content }}
            </div>
            <hr>
            <div class="tags">
              {{ range .Params.tags }}
              <span>{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </article>
      </div>
      <!-- footer -->
      {{ partial "footer.html" . }}

    </div>
  </main>
  {{ partial "body-script.html" . }}
  <script src="{{ "js/single.js" | absURL }}"></script>
</body>
</html>  