{{ $user := $.Site.Params.user }}
{{ $navs := $.Site.Params.navs }}
<header>
  <nav class="navTop">
    <a href="#" data-target="navMobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a class="waves-effect waves-primary btn-flat brand-logo">
      <i class="icomoon icon-wcnexus"></i>
      <span class="hide-on-med-and-down">wcnexus</span>
    </a>
    <div class="hide-on-med-and-down">
      {{ range $navs }}
        {{ $titleTrans := index .title $.Site.Language.Lang }}
        <a class="waves-effect waves-primary btn-flat" href="{{ .link }}">{{ $titleTrans }}</a>
      {{ end }}
    </div>
    <div class="flexSpacer"></div>
    <footer class="actions">
      <a class="waves-effect waves-primary btn-flat holder dropdown-trigger" data-target='navDDChangeLang'>
        <i class="material-icons lang">language</i>
        <span class="hide-on-med-and-down">{{ T "changeLang" }}</span>
      </a>
      <a class="waves-effect waves-primary btn-flat holder" href="https://github.com/valorad/wcnexus.com" target="_blank">
        <i class="iconfont icon-github"></i>
        <span class="hide-on-med-and-down">{{ T "github" }}</span>
      </a>

      <!-- Dropdown Structure -->
      <ul id='navDDChangeLang' class='dropdown-content'>
        {{ range $.Site.Languages }}
        <li><a href="{{ $.Site.BaseURL }}{{ . }}">{{ . }}</a></li>
        {{ end }}
      </ul>

    </footer>
  </nav>
  <!-- Mobile slidenav -->
  <nav id="navMobile" class="sidenav">
    <ul>
      <li>
        <div class="user-view">
          <div class="background">
            <img class="fliud cover" src="{{ $user.cover | absURL }}">
          </div>
          <a href="#!user">
            <img class="round avatar" src="{{ $user.avatar | absURL }}">
          </a>
          <a href="#!name">
            <span>{{ with $user.name }}{{ $user.name }}{{ else }}Mr. Nobody{{ end }}</span>
          </a>
        </div>
      </li>
      {{ range $navs }}
      <li>
        <a href="{{ .link }}" class="waves-effect waves-primary">{{ .title }}</a>
      </li>
      {{ end }}

      <!-- <li><a href="#!" class="waves-effect">Venture</a></li> -->
      <!-- <li><div class="divider"></div></li> -->
    </ul>
  </nav>
</header>