<header>
  <nav class="navTop primary">
    <a class="waves-effect waves-teal btn-flat brand-logo">wcnexus</a>
    <div class="hide-on-med-and-down">
      <a class="waves-effect waves-teal btn-flat" href="/">Index</a>
      <a class="waves-effect waves-teal btn-flat" href="##">Venture</a>
    </div>
    <div class="flexSpacer"></div>
    <div class="hide-on-med-and-down">
      <a class="waves-effect waves-teal btn-flat holder" href="https://github.com/valorad/wcnexus.com" target="_blank">
        <img class="fluid logo" src="{{ "images/GitHub-Mark-Light-120px-plus.png" | absURL }}" alt="github">
        <span>Github</span>
      </a>
    </div>
  </nav>
</header>