<header>
  <nav class="navTop green">
    <a class="matButton brand-logo" href="">wcnexus</a>
    <div class="hide-on-med-and-down">
      <a class="matButton" href="/">index</a>
      <a class="matButton" href="">venture</a>
    </div>
    <div class="flexSpacer"></div>
    <div class="hide-on-med-and-down">
      <a class="matButton holder" href="https://github.com/valorad/wcnexus.com" target="_blank">
        <img class="fluid logo" src="{{ "images/GitHub-Mark-Light-120px-plus.png" | absURL }}" alt="github">
        <span>Github</span>
      </a>
    </div>
  </nav>
</header>