<!DOCTYPE html>

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{ $section_count := len $section }}

{{ $user := $.Site.Params.user }}
{{ $social := $.Site.Params.social }}

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
<head>
  {{ partial "head-common.html" . }}
  <link rel="stylesheet" href="{{ "css/index.css" | absURL }}">
</head>
<body class="mat-green-yellow">

  <!-- header -->
  {{ partial "header.html" . }}
  <section class="cover index parallax-window">
    <!-- cover pic -->
    <div class="parallax" data-parallax data-src="{{ $user.cover | absURL }}"></div>
    <div class="venturer">
      <div class="avatar">
        <!-- avatar -->
        {{ with $user.avatar }}
        <p>
          <img src="{{ $user.avatar | absURL }}" alt="{{ $user.name | default ("Mr. Nobody") }}'s avatar" class="fluid round">
        </p>
        {{ else }}
        <div class="avatarPlaceholder round"></div>
        {{ end }}
        <!-- username -->
        <p>{{ with $user.name }}{{ $user.name }}{{ else }}Mr. Nobody{{ end }}</p>
      </div>
      <div class="social">
        <ul>
          {{ with $social.weibo }}<li><a href="{{ . }}"><img src="{{ "images/weibo.png" | absURL }}" alt="weibo" class="fluid"></a></li>{{ end }}
          {{ with $social.zhihu }}<li><a href="{{ . }}"><img src="{{ "images/zhihu.png" | absURL }}" alt="weibo" class="fluid"></a></li>{{ end }}
          {{ with $social.twitter }}<li><a href="{{ . }}"><img src="{{ "images/twitter.png" | absURL }}" alt="weibo" class="fluid"></a></li>{{ end }}
          {{ with $social.github }}<li><a href="{{ . }}"><img src="{{ "images/github-social.png" | absURL }}" alt="weibo" class="fluid"></a></li>{{ end }}
        </ul>
      </div>
    </div>
  </section>
  <main class="index">
    <div class="content">
      <header>
        <h2><h2>{{ $user.intro }}</h2></h2>
      </header>
      <section>
        <div class="row">
          {{ range $section }}
          {{ $featured_image := .Params.featured_image | default $.Site.Params.img0 }}
          <div class="col m12 l6">
            <article class="card">
              <div class="card-image">
                <a href="{{ .Permalink }}">
                  <img src="{{ $featured_image | absURL }}">
                  <span class="card-title">{{ .Title }}</span>
                </a>
              </div>
              <div class="card-content">
                <div class="tags">
                  {{ range .Params.tags }}
                  <span>{{ . }}</span>
                  {{ end }}
                </div>
                <p>{{ .Summary }}...</p>
              </div>
              <div class="card-action">
                <a href="{{ .Permalink }}">Read more</a>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </section>
    </div>
    <!-- footer -->
    {{ partial "footer.html" . }}

  </main>

  {{ partial "body-script.html" . }}
  <script src="{{ "js/index.js" | absURL }}"></script>
</body>
</html>