<!DOCTYPE html>

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{ $section_count := len $section }}

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}
  <section>
    {{ range $section }}
      <div>
        <a href="{{ .Permalink }}">{{ .Title }}</a><br>
      </div>
    {{ end }}
  </section>

  {{ partial "body-script.html" . }}
</body>
</html>