<!DOCTYPE html>

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{ $section_count := len $section }}

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}
<body class="mat-green-yellow">

  {{ partial "header.html" . }}
  <section class="cover index parallax-window">
    <!-- cover pic -->
    <div class="parallax" data-parallax data-src="{{ "images/landscape.jpg" | absURL }}"></div>
    <div class="venturer">
      <div class="avatar">
        <p class="avatar">
          <img src="{{ "images/fallout-VaultBoy-2.jpg" | absURL }}" alt="avatar" class="fluid round">
        </p>
        <p>Valorad</p>
      </div>
      <div class="social">
        <ul>
          <li><img src="{{ "images/weibo.png" | absURL }}" alt="weibo" class="fluid"></li>
          <li><img src="{{ "images/zhihu.png" | absURL }}" alt="zhihu" class="fluid"></li>
          <li><img src="{{ "images/twitter.png" | absURL }}" alt="twitter" class="fluid"></li>
          <li><img src="{{ "images/github-social.png" | absURL }}" alt="github-social" class="fluid"></li>
        </ul>
      </div>
    </div>
  </section>
  <main class="index">
    <div class="content">
      <header>
        <h2>This dude was too confused to make a bio.</h2>
      </header>
      <section>
        {{ range $section }}
          <div class="row">
            <div class="col m12 l5">
              <div class="card">
                <div class="card-image">
                  <img src="{{ "images/defaultPost.png" | absURL }}">
                  <span class="card-title">{{ .Title }}</span>
                </div>
                <div class="card-content">
                  <p>{{ .Summary }}</p>
                </div>
                <div class="card-action">
                  <a href="{{ .Permalink }}">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </section>
    </div>

  </main>

  {{ partial "body-script.html" . }}
</body>
</html>